* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    background-color: $first-color;
    background-image: url(/images/top-circle-home-page.png);
    background-repeat: no-repeat;
    background-size: 640px;
    background-position: top right;

    @media screen and (max-width:900px) {
        & {
            background-image: url(/images/top-circle-home-page-tablet.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: top;
        }
    }
}

ul {
    list-style-type: none;
}

img {
    display: block;
    margin: 0;
}

a {
    text-decoration: none;
}